/* 

### Body Copy

- Font size: 15px
font-family: 'Spartan', sans-serif;

*/
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

/* Attribution */
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

/* Variabel */
:root{
    --very-dark-magenta:hsl(300, 43%, 22%);
    --soft-pink:hsl(333, 80%, 67%);
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta:hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 15px;
    font-family: 'Spartan', sans-serif;
}

.container{
    padding: 0 20px;
    background-color: var(--white);
}

.header{
    width:375px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 3rem;
}
.header .judul{
    color: var(--very-dark-magenta);
    margin-bottom: 1rem;
    text-align: center;
}
.header p{
    line-height: 1.7;
    color: var(--dark-grayish-magenta);
}
.cards{
    margin-bottom: 2rem;
}
.cards,.cardsK,.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
}

.cardsK {
    width:375px;
    background-color: var(--light-grayish-magenta);
    padding: 1rem;
    margin: .7rem;

    border-radius: 10px;
}

.cardsK h5{
    padding: .5rem;
    color: var(--very-dark-magenta);
}

.boxs{
    width:375px;
    background-color: var(--very-dark-magenta);
    padding: 1rem;
    margin: .7rem;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: flex-start;
}
.judul{
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}
.judul img{
    max-width:100%;
    border-radius: 50%;
}
.judul h5{
    font-size: 1rem;
    margin-left: 2rem;
    color: var(--white);

}
.judul span{
    font-size: .8rem;
    line-height: 2;
    display:block;
    color: var(--soft-pink);
}

.boxs .desc{
    color: var(--white);
    line-height: 1.7;
}
@media (min-width:900px) {
    .container{
        display: flex;
        flex-direction: column;
    }
    .section1{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .header, .judul{
        text-align: left;
    }
    .cards{
        margin-left: 12rem;
    }
    .cardsK{
        width: 300px;
    }
    .cards .card1{
        position: relative;
        right: 13em;
    }
    .cards .card2{
        position: relative;
        right: 5em;
    }
    .section1 .cards .card3{
        position: relative;
        left: 5em;
        margin-right: 5rem;
    }
    .box{
        display: flex;
        flex-direction: row;
        margin-bottom: 2rem;
    }
    .box .box2{
        position: relative;
        top: 2rem;
    }
    .box .box3{
        position: relative;
        top: 4rem;
        margin-bottom: 2rem;
    }
}

